.BtnHome {
    cursor: pointer;
    background-color: #6184db;
    border-radius: 100%;
    border: none;
    padding: 10px;
    margin: 10px;
}

.BtnHome:hover{
    background-color: #1a3579;
    transform: scale(1.1);
}

.BtnAtras {
    cursor: pointer;
    background-color: #6184db;
    border-radius: 100%;
    border:none;
    padding: 10px;
    margin: 10px;
    position: relative;
    left: 140px;
}

.BtnAtras:hover{
    background-color: #1a3579;
    transform: scale(1.1);
}

.ImgIcono{
    width: 50px;
    height: 50px;
}

.ImgTitulo{
    width: 300px;
    height: 300px;
    position: relative;
    left: 30px;
    margin: auto;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    color: #6184db;
}

.palabra{
    font-family: 'Comic Sans MS', cursive;
    font-weight: bolder;
    font-size: 35px;
}

.ImgCuento{
    width: 250px;
    height: 250px;
    position: relative;
    left: 15px;
    margin: 30px;
}

.BtnRelacion{
    
    background-color: #9CEC58;
    border-radius: 100%;
    border: none;
    padding: 10px;
    margin: 10px;
    position: relative;
    left: 140px;
    bottom: 50px;
}

.BtnNoRelacion{
    background-color: crimson;
    border-radius: 100%;
    border: none;
    padding: 10px;
    margin: 10px;
    position: relative;
    left: 140px;
    bottom: 50px;

}

.ImgCuento--verde{
    border: 10px solid  #9CEC58;
}

.ImgCuento--rojo{
    border: 10px solid crimson;
}

@media(min-width:400px){
    .BtnHome{
        margin-top: 30px;
        margin-left: 30px;
        padding: 5px;
    }

    .BtnAtras{
        left: 50%;
        padding: 5px;
    }

    .ImgIcono{
        width: 100px;
        height: 100px;
    }

    .ImgTitulo{
        width: 1200px;
        height: 500px;
        position: relative;
        left: 170px;
        bottom: 100px;
        
    }

    h1{
        font-size: 100px;
        position: relative;
        bottom: 150px;
    }

    .contenido_Aprendizaje{
        margin-left: 50px;
        
    }


    .palabra{
        font-size: 70px;
    }

    .contenedor{
        display:flex;
        flex-direction: row;
        margin-bottom: 50px;
        
    }

    .ImgCuento{
        width: 300px;
        height: 350px;
        
    }

    .contenedorImg{
        display: flex;
        align-items: center;
        height: 50vh;
        margin-top: 100px;
        margin-bottom: 100px;
        
        
    }

    .cont_Btn{
        position: relative;
        top: 290px;
        right: 380px;
    
    }

}