.highlight {
    background-color: yellow; 
    transition: background-color 0.3s ease; 
  }

button {
    background-color: #FFD54F; 
    color: #333; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px; 
    transition: background-color 0.3s ease;
}


button:nth-of-type(1) {
    margin-right: 10px; 
}

button i {
    margin: 0 5px; 
}


button:hover {
    background-color: #FFB74D;
}