.header {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header img {
    width: 100%;
    height: auto;
  }
  
  .header_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(58, 15, 15);
  }
  
  .header_text h1 {
    font-size: 3em;
    font-family: 'Comic Sans MS', cursive; 
  }
  
  .content {
    text-align: center;
  }

  .totalcuentos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-wrap: wrap;
  }
  
  .cuento {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contenido_cuento{
    border: 3px solid #3f51b5;
    padding: 20px;
    border-radius: 30px; 
    background-color: #eceff1; 
    transition: transform 0.3s ease-in-out; 
  }

  .story-content:hover {
    transform: scale(1.1); 
  }

  .image-container {
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
  }
  
  h2 {
    margin-top: 10px;
    font-family: 'Comic Sans MS', cursive;
    color: #f44336; 
  }
